mixin hero()
    // Header
    header.hero
        .container
            .hero__content
                h1.hero__title.wow.zoomIn.
                    Роман Смирнов
                ul.hero__specs.wow.zoomIn(data-wow-delay="0.2s")
                    li.hero__spec Web-разработчик
                    li.hero__spec HTML-верстальщик

                a.hero__button.btn.btn-danger.js-scroll-trigger.wow.bounceIn(href="#skills" data-wow-delay="0.5s") Обо мне
    // Header end