mixin hero()
    header.hero
        .wrap
            .container
                .hero__content
                    h1.hero__title.wow.animated.zoomIn.
                        Роман Смирнов
                    ul.hero__specs.wow.animated.zoomIn(data-wow-delay=".2s")
                        li.hero__spec Web-разработчик
                        li.hero__spec HTML-верстальщик

                    a.btn.btn-danger.hero__button.js-scroll-trigger.wow.animated.bounceIn(href="#skills" data-wow-delay=".5s") Обо мне