.svg-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    fill: #fff;
    stroke: #fff;

    &-menu {
        width: 32px;
        height: 32px;
    }

    &_red {
        stroke: $main-color;
    }

    &_center {
        @include center-xy();
    }
}

