mixin footer(footer)
    footer.footer#footer
        .container
            .row
                .col-sm-6
                    .footer__copy &copy; 2019 Роман Смирнов
                .col-sm-6
                    .footer__credits Photo by #[a(href="https://unsplash.com/photos/dMUt0X3f59Q?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank") Fabian Grohs] on #[a(href="https://unsplash.com/search/photos/code?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank") Unsplash]