include head/head
include main-nav/main-nav
include hero/hero
include skills/skills
include portfolio/portfolio
include portfolio-modal/portfolio-modal
include certificates/certificates
include certificate-modal/certificate-modal
include contacts/contacts
include footer/footer

doctype html
html(lang="ru")
    block head
        head
            +head({
                "title": "Портфолио web-разработчика, html-верстальщика - Роман Смирнов",
                "author": "Роман Смирнов",
                "description": "Сайт-портфолио web-разработчика и html-верстальщика Романа Смирнова. В портфолио представлены работы по разработке сайтов на PHP и HTML-верстке.",
                "keywords": "портфолио, web разработка, php разработка, верстка, html верстка, web разработчик, верстальщик, html верстальщик, создание сайтов, Иваново создать сайт"
            })

        body#page-top
            -
                var menu = {
                    brand: 'Роман Смирнов',
                    links: [
                        {alias: 'skills',
                        name: 'Навыки'},
                        {alias: 'portfolio',
                        name: 'Портфолио'},
                        {alias: 'certificates',
                        name: 'Сертификаты'},
                        {alias: 'contacts',
                        name: 'Контакты'},
                    ]
                };

            block main-nav
                +main-nav(menu)

            block hero
                +hero()

            block skills
                -
                    var skills = {
                        technologies: [
                            {name: 'HTML5',
                            percentage: '80',
                            class: 'html'},
                            {name: 'CSS3',
                            percentage: '80',
                            class: 'css'},
                            {name: 'jQuery',
                            percentage: '60',
                            class: 'jquery'},
                            {name: 'Pixel Perfect',
                            percentage: '80',
                            class: 'pixel-perfect'},
                            {name: 'PHP',
                            percentage: '60',
                            class: 'php'},
                            {name: 'MySQL',
                            percentage: '70',
                            class: 'mysql'},
                            {name: 'Git',
                            percentage: '80',
                            class: 'git'},
                        ],
                        platforms: [
                            {name: '1С-Битрикс',
                            percentage: '70',
                            class: 'bitrix'},
                            {name: 'Laravel',
                            percentage: '70',
                            class: 'laravel'},
                            {name: 'Joomla',
                            percentage: '60',
                            class: 'joomla'},
                            {name: 'WordPress',
                            percentage: '40',
                            class: 'wordpress'},
                            {name: 'phpBBex',
                            percentage: '40',
                            class: 'phpbbex'},
                        ]
                    };

                +skills(skills)

            block portfolio
                -
                    var works = [
                        {name: 'Элементарный блог на Laravel',
                        img:'blog.jpg'},
                        {name: 'Верстка лендинга Inkoch',
                        img:'uberweb.jpg'},
                        {name: 'Верстка лендинга Fudi',
                        img:'fudi.jpg'},
                        {name: 'Верстка лендинга Axit',
                        img:'axit.jpg'},
                        {name: 'Сайт расписания занятий и экзаменов ИВГПУ',
                        img:'rasp.jpg'},
                        {name: 'Сайт диссертационных советов ИВГПУ',
                        img:'ds.jpg'},
                        {name: 'Официальный сайт ИВГПУ',
                        img:'ivgpu.jpg'},
                        {name: 'Сайт научной конференции «SMARTEX»',
                        img:'smartex.jpg'},
                        {name: 'Сайт научной конференции «ПОИСК»',
                        img:'poisk.jpg'},
                        {name: 'Сайт научной конференции «Информационная среда вуза»',
                        img:'isv.jpg'},
                        {name: 'Сайт научной конференции «Генезис»',
                        img:'genesis.jpg'}
                    ];

                +portfolio(works)

            block certificates
                -
                    var certs = [
                        {
                            company_name: 'Сертификаты 1С-Битрикс',
                            certs: [
                                {img:'ustanovka-i-nastrojka.jpg',
                                name: 'Установка и настройка'},

                                {img:'kontent-menedzher.jpg',
                                name: 'Контент-менеджер'},

                                {img:'administrator-bazovyj.jpg',
                                name: 'Администратор. Базовый'},

                                {img:'administrator-moduli.jpg',
                                name: 'Администратор. Модули'},

                                {img:'administrator-biznes.jpg',
                                name: 'Администратор. Бизнес'},

                                {img:'razrabotchik-bitrix-framework.jpg',
                                name: 'Разработчик Bitrix Framework'},

                                {img:'tekhnologiya-kompozitnyj-sajt.jpg',
                                name: 'Технология Композитный сайт'}
                            ]
                        }
                    ];

                +certificates(certs)

            block contacts
                +contacts()

            block footer
                +footer()

            block portfolio-modals
                -
                    var works = [
                                    {link: 'https://github.com/romanjke/blog',
                                    name: 'Элементарный блог на Laravel',
                                    desc: 'Тестовое задание от компании <i>WMStudio</i> по разработке элементарного блога на <i>Laravel</i>',
                                    platform: 'Laravel',
                                    role: '',
                                    img: 'blog.jpg',
                                    source: 'https://github.com/romanjke/blog'},

                                    {link: 'https://romanjke.github.io/portfolio/uberweb/',
                                    name: 'Верстка лендинга Inkoch',
                                    desc: 'Тестовое задание от компании <i>Uberweb</i> по адаптивной верстке лендинга по <i>psd</i> макету <i>Inkoch</i>',
                                    platform: 'HTML',
                                    role: '',
                                    img: 'uberweb.jpg',
                                    source: 'https://github.com/romanjke/uberweb'},

                                    {link: 'https://romanjke.github.io/portfolio/fudi/',
                                    name: 'Верстка лендинга Fudi',
                                    desc: 'Адаптивная верстка лендинга по <i>psd</i> макету <i>Fudi</i>',
                                    platform: 'HTML',
                                    role: 'В ходе этого была изучена работа со следующими технологиями: <i>БЭМ</i>, <i>SCSS</i>, <i>Pug</i>, <i>SVG</i>, <i>Animate.css</i>, <i>Gulp</i>, <i>Webpack</i>, <i>Pixel Perfect</i>, консольный режим работы с <i>Git</i>.',
                                    img: 'fudi.jpg',
                                    source: 'https://github.com/romanjke/fudi'},

                                    {link: 'https://romanjke.github.io/portfolio/axit/',
                                    name: 'Верстка лендинга Axit',
                                    desc: 'Адаптивная верстка лендинга по <i>psd</i> макету <i>Axit</i>',
                                    platform: 'HTML',
                                    role: 'В ходе этого была изучена работа со следующими технологиями: <i>БЭМ</i>, <i>SCSS</i>, <i>Pug</i>, <i>SVG</i>, <i>Animate.css</i>, <i>Gulp</i>, <i>Webpack</i>, <i>Pixel Perfect</i>, консольный режим работы с <i>Git</i>.',
                                    img: 'axit.jpg',
                                    source: 'https://github.com/romanjke/axit'},

                                    {link: 'http://rasp.ivgpu.com',
                                    name: 'Сайт расписания занятий и экзаменов ИВГПУ',
                                    desc: 'Сайт расписания занятий и экзаменов ИВГПУ, на котором пользователь с помощью формы, размещенной на главной странице, может выбрать определенную учебную группу / преподавателя и затем найти соответствующее расписание занятий / экзаменов как на две недели, так и на определенный день. Полученное расписание можно скачать в формате <i>.xlsx</i>. <br> Пользователи, наделенные специальными правами, могут добавлять, изменять, удалять информацию о занятиях / экзаменах, а также некоторые другие сведения.',
                                    platform: 'Laravel',
                                    role: 'Полная разработка сайта. <br> Проектирование структуры сайта, проектирование архитектуры базы данных, установка и настройка фреймворка, добавление необходимых пакетов через <i>Composer</i>, программирование функционала с помощью <i>API</i> фреймворка, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка.',
                                    img: 'rasp.jpg',
                                    source: ''},

                                    {link: 'http://ds.ivgpu.com',
                                    name: 'Сайт диссертационных советов ИВГПУ',
                                    desc: 'Сайт диссертационных советов ИВГПУ, на котором размещается информация о диссертациях и диссертационных советах. Каждая диссертация имеет свой статус: «Представленные к защите», «Защищенные» или «Добавленные в архив». <br> Пользователи, наделенные специальными правами, могут добавлять, изменять и удалять информацию о диссертациях / диссертационных советах.',
                                    platform: 'Laravel',
                                    role: 'Полная разработка сайта. <br> Проектирование структуры сайта, проектирование архитектуры базы данных, установка и настройка фреймворка, добавление необходимых пакетов через <i>Composer</i>, программирование функционала с помощью <i>API</i> фреймворка, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка.',
                                    img: 'ds.jpg',
                                    source: ''},

                                    {link: 'http://ivgpu.com',
                                    name: 'Официальный сайт ИВГПУ',
                                    desc: 'Официальный сайт Ивановского Государственного Политехнического Университета (ИВГПУ)',
                                    platform: 'Joomla',
                                    role: 'Участие в совместной разработке нового официального сайта ИВГПУ. <br> Создание шаблонов и интеграция в них верстки, добавление нового функционала, создание страниц и наполнение их контентом, обработка изображений, техническая поддержка.',
                                    img: 'ivgpu.jpg',
                                    source: ''},

                                    {link: 'http://smartex2.ivgpu.com',
                                    name: 'Сайт научной конференции «SMARTEX»',
                                    desc: 'Сайт научной конференции «SMARTEX»',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайта. <br> Установка и настройка <i>CMS</i>, добавление нового функционала, создание страниц и наполнение их контентом, обработка изображений, создание поддомена, размещение на хостинге, дальнейшая поддержка.',
                                    img: 'smartex.jpg',
                                    source: ''},

                                    {link: 'http://poisk.ivgpu.com',
                                    name: 'Сайт научной конференции «ПОИСК»',
                                    desc: 'Сайт научной конференции «ПОИСК»',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайта. <br> Установка и настройка <i>CMS</i>, добавление нового функционала, создание страниц и наполнение их контентом, обработка изображений, создание поддомена, размещение на хостинге, дальнейшая поддержка.',
                                    img: 'poisk.jpg',
                                    source: ''},

                                    {link: 'http://isv.ivgpu.com',
                                    name: 'Сайт научной конференции «Информационная среда вуза»',
                                    desc: 'Сайт научной конференции «Информационная среда вуза»',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайта. <br> Установка и настройка <i>CMS</i>, добавление нового функционала, создание страниц и наполнение их контентом, обработка изображений, создание поддомена, размещение на хостинге, дальнейшая поддержка.',
                                    img: 'isv.jpg',
                                    source: ''},

                                    {link: 'http://genesis.ivgpu.com',
                                    name: 'Сайт научной конференции «Генезис»',
                                    desc: 'Сайт научной конференции «Генезис»',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайта. <br> Установка и настройка <i>CMS</i>, добавление нового функционала, создание страниц и наполнение их контентом, обработка изображений, создание поддомена, размещение на хостинге, дальнейшая поддержка.',
                                    img: 'genesis.jpg',
                                    source: ''}
                    ];

                // PORTFOLIO MODALS
                each work, index in works
                    - var id = "portfolio_modal-" + (index + 1)

                    +portfolio-modal(work, id)
                // PORTFOLIO MODALS END

            block cert-modals

                // CERTIFICATES MODALS
                each cert_block, index_block in certs
                    each cert, index_cert in cert_block.certs
                        - var id = "cert_modal-" + index_block + (index_cert + 1)

                        +cert-modal(cert, id)
                // CERTIFICATES MODALS END

            block scripts
                // Bootstrap core JavaScript
                script(src="https://code.jquery.com/jquery-3.3.1.min.js")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
                script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

                // JavaScript plugins
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")

                // Custom styles
                // build:js js/main.js
                script(src="js/main.js")
                // endbuild