include head/head
include portfolio/portfolio
include portfolio-modal/portfolio-modal

doctype html
html(lang="ru")
    block head
        head
            +head({
                "title": "Портфолио",
                "author": "Roman",
                "description": "Портфолио"
            })

        body

            block portfolio
                -
                    var works_names = [
                        {name: 'Официальный сайт ИВГПУ',
                        img:'ivgpu.png'},
                        {name: 'Сайт диссертационных советов ИВГПУ',
                        img:'ds.png'},
                        {name: 'Сайт расписания занятий и экзаменов ИВГПУ',
                        img:'rasp.png'},
                        {name: 'Сайт научной конференции "SMARTEX"',
                        img:'smartex.png'},
                        {name: 'Сайт научной конференции "ПОИСК"',
                        img:'poisk.png'},
                        {name: 'Сайт научной конференции "Информационная среда вуза"',
                        img:'isv.png'},
                        {name: 'Сайт научной конференции "Генезис"',
                        img:'genesis.png'},
                        {name: 'Верстка лендингов по psd шаблонам',
                        img:'axit.png'},
                        {name: 'Верстка лендингов по psd шаблонам',
                        img:'fudi.png'},
                        {name: 'Тестовое задание от веб-студии Uberweb',
                        img:'uberweb.png'}
                    ];

                +portfolio(works_names)

            block modals
                -
                    var works = [
                                    {link: 'http://ivgpu.com',
                                    name: 'Официальный сайт ИВГПУ',
                                    desc: 'Разработка нового официального сайта ИВГПУ',
                                    base: 'Joomla',
                                    role: 'Участие в совместной разработке. <br> Настройка CMS, установка и настройка плагинов, создание шаблонов, наполнение контентом, обработка изображений, дальнейшая поддержка',
                                    img: 'ivgpu.png'},

                                    {link: 'http://ds.ivgpu.com',
                                    name: 'Сайт диссертационных советов ИВГПУ',
                                    desc: 'Сайт диссертационных советов ИВГПУ, где размещается информация о представленных к защите, защищенных и добавленных в архив диссертациях, а также сведения о самих диссертационных советах и пр. <br> Пользователи, наделенные специальными правами, (администраторы) могут добавлять, изменять и удалять диссертации/диссертационные советы',
                                    base: 'Laravel',
                                    role: 'Полная разработка сайта. <br> Проектирование структуры сайта, проектирование архитектуры базы данных, установка и первоначальная настройка фреймворка, установка необходимых пакетов, программирование с использованием API фреймворка, создание шаблонов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'ds.png'},

                                    {link: 'http://rasp.ivgpu.com',
                                    name: 'Сайт расписания занятий и экзаменов ИВГПУ',
                                    desc: 'Сайт расписания занятий и экзаменов ИВГПУ, где пользователь с помощью формы на главной странице может выбрать определенную учебную группу/преподавателя и найти соответствующее расписание занятий/экзаменов как на две недели, так и на определенный день. Полученное расписание можно скачать в формате <i>.xlsx.</i> <br> Пользователи, наделенные специальными правами, (администраторы) могут добавлять, изменять и удалять занятия для определенных учебных групп, а также некоторую другую информацию',
                                    base: 'Laravel',
                                    role: 'Полная разработка сайта. <br> Проектирование структуры сайта, проектирование архитектуры базы данных, установка и первоначальная настройка фреймворка, установка необходимых пакетов, программирование с использованием API фреймворка, создание шаблонов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'rasp.png'},

                                    {link: 'http://smartex2.ivgpu.com',
                                    name: 'Сайт научной конференции "SMARTEX"',
                                    desc: 'Сайт научной конференции "SMARTEX"',
                                    base: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'smartex.png'},

                                    {link: 'http://poisk.ivgpu.com',
                                    name: 'Сайт научной конференции "ПОИСК"',
                                    desc: 'Сайт научной конференции "ПОИСК"',
                                    base: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'poisk.png'},

                                    {link: 'http://isv.ivgpu.com',
                                    name: 'Сайт научной конференции "Информационная среда вуза"',
                                    desc: 'Сайт научной конференции "Информационная среда вуза"',
                                    base: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'isv.png'},

                                    {link: 'http://genesis.ivgpu.com',
                                    name: 'Сайт научной конференции "Генезис"',
                                    desc: 'Сайт научной конференции "Генезис"',
                                    base: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'genesis.png'},

                                    {link: '/portfolio/axit/index.html',
                                    name: 'Верстка лендингов по psd шаблонам',
                                    desc: 'Верстка лендингов по psd шаблонам',
                                    base: 'HTML',
                                    role: 'Адаптивная верстка лендингов по бесплатным psd макетам. <br> В ходе этого была изучена работа со следующими технологиями: БЭМ, SCSS, Pug, SVG, Animate.css, Gulp, Webpack, консольный режим работы с Git',
                                    img: 'axit.png'},

                                    {link: '/portfolio/fudi/index.html',
                                    name: 'Верстка лендингов по psd шаблонам',
                                    desc: 'Верстка лендингов по psd шаблонам',
                                    base: 'HTML',
                                    role: 'Адаптивная верстка лендингов по бесплатным psd макетам. <br> В ходе этого была изучена работа со следующими технологиями: БЭМ, SCSS, Pug, SVG, Animate.css, Gulp, Webpack, консольный режим работы с Git',
                                    img: 'fudi.png'},

                                    {link: '/portfolio/uberweb/index.html',
                                    name: 'Тестовое задание от веб-студии Uberweb',
                                    desc: 'Тестовое задание от веб-студии Uberweb',
                                    base: 'HTML',
                                    role: 'Адаптивная верстка лендинга по psd макету',
                                    img: 'uberweb.png'},


                    ];

                each work, index in works
                    - var id = "modal-" + index

                    +modal(work, id)

            block scripts
                script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
                script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

                // build:js js/main.js
                script(src="js/main.js")
                // endbuild