include head/head
include main-nav/main-nav
include hero/hero
include skills/skills
include portfolio/portfolio
include portfolio-modal/portfolio-modal
include certificates/certificates
include certificate-modal/certificate-modal
include contacts/contacts
include footer/footer

doctype html
html(lang="ru")
    block head
        head
            +head({
                "title": "Портфолио web-разработчика, html-верстальщика - Роман Смирнов",
                "author": "Роман Смирнов",
                "description": "Сайт-портфолио web-разработчика и html-верстальщика Романа Смирнова. В портфолио представлены работы по разработке сайтов на PHP и HTML-верстке.",
                "keywords": "портфолио, web разработка, php разработка, верстка, html верстка, web разработчик, верстальщик, html верстальщик, создание сайтов, Иваново создать сайт"
            })

        body#page-top
            -
                var menu = {
                    brand: 'Роман Смирнов',
                    links: [
                        {alias: 'skills',
                        name: 'Навыки'},
                        {alias: 'portfolio',
                        name: 'Портфолио'},
                        {alias: 'certificates',
                        name: 'Сертификаты'},
                        {alias: 'contacts',
                        name: 'Контакты'},
                    ]
                };

            block main-nav
                +main-nav(menu)

            block hero
                +hero()

            block skills
                -
                    var skills = {
                        technologies: [
                            {name: 'HTML5',
                            percentage: '80',
                            class: 'html'},
                            {name: 'CSS3',
                            percentage: '80',
                            class: 'css'},
                            {name: 'jQuery',
                            percentage: '60',
                            class: 'jquery'},
                            {name: 'PHP',
                            percentage: '60',
                            class: 'php'},
                            {name: 'MySQL',
                            percentage: '70',
                            class: 'mysql'},
                            {name: 'Git',
                            percentage: '80',
                            class: 'git'},
                        ],
                        platforms: [
                            {name: '1С-Битрикс',
                            percentage: '80',
                            class: 'bitrix'},
                            {name: 'Laravel',
                            percentage: '80',
                            class: 'laravel'},
                            {name: 'Joomla',
                            percentage: '65',
                            class: 'joomla'},
                            {name: 'WordPress',
                            percentage: '40',
                            class: 'wordpress'},
                            {name: 'phpBBex',
                            percentage: '40',
                            class: 'phpbbex'},
                        ]
                    };

                +skills(skills)

            block portfolio
                -
                    var works = [
                        {name: 'Официальный сайт ИВГПУ',
                        img:'ivgpu.png'},
                        {name: 'Сайт диссертационных советов ИВГПУ',
                        img:'ds.png'},
                        {name: 'Сайт расписания занятий и экзаменов ИВГПУ',
                        img:'rasp.png'},
                        {name: 'Сайт научной конференции "SMARTEX"',
                        img:'smartex.png'},
                        {name: 'Сайт научной конференции "ПОИСК"',
                        img:'poisk.png'},
                        {name: 'Сайт научной конференции "Информационная среда вуза"',
                        img:'isv.png'},
                        {name: 'Сайт научной конференции "Генезис"',
                        img:'genesis.png'},
                        {name: 'Верстка лендингов по psd шаблонам',
                        img:'axit.png'},
                        {name: 'Верстка лендингов по psd шаблонам',
                        img:'fudi.png'},
                        {name: 'Тестовое задание от веб-студии Uberweb',
                        img:'uberweb.png'}
                    ];

                +portfolio(works)

            block certificates
                -
                    var certs = [
                        {
                            company_name: 'Сертификаты 1С-Битрикс',
                            certs: [
                                {img:'ustanovka-i-nastrojka.jpg',
                                name: 'Установка и настройка'},

                                {img:'kontent-menedzher.jpg',
                                name: 'Контент-менеджер'},

                                {img:'administrator-bazovyj.jpg',
                                name: 'Администратор. Базовый'},

                                {img:'administrator-moduli.jpg',
                                name: 'Администратор. Модули'},

                                {img:'administrator-biznes.jpg',
                                name: 'Администратор. Бизнес'},

                                {img:'razrabotchik-bitrix-framework.jpg',
                                name: 'Разработчик Bitrix Framework'},

                                {img:'tekhnologiya-kompozitnyj-sajt.jpg',
                                name: 'Технология Композитный сайт'}
                            ]
                        }
                    ];

                +certificates(certs)

            block contacts
                -
                    var contacts = [
                                        {name: 'romanjkez0r@gmail.com',
                                        link: 'mailto:romanjkez0r@gmail.com',
                                        class: 'far fa-envelope fa-4x'},

                                        {name: 'romanjke',
                                        link: 'https://github.com/romanjke',
                                        class: 'fab fa-github fa-4x'}
                    ];

                +contacts(contacts)

            block footer
                +footer()

            block portfolio-modals
                -
                    var works = [
                                    {link: 'http://ivgpu.com',
                                    name: 'Официальный сайт ИВГПУ',
                                    desc: 'Разработка нового официального сайта ИВГПУ',
                                    platform: 'Joomla',
                                    role: 'Участие в совместной разработке. <br> Настройка CMS, установка и настройка плагинов, создание шаблонов, наполнение контентом, обработка изображений, дальнейшая поддержка',
                                    img: 'ivgpu.png'},

                                    {link: 'http://ds.ivgpu.com',
                                    name: 'Сайт диссертационных советов ИВГПУ',
                                    desc: 'Сайт диссертационных советов ИВГПУ, где размещается информация о представленных к защите, защищенных и добавленных в архив диссертациях, а также сведения о самих диссертационных советах и пр. <br> Пользователи, наделенные специальными правами, (администраторы) могут добавлять, изменять и удалять диссертации/диссертационные советы',
                                    platform: 'Laravel',
                                    role: 'Полная разработка сайта. <br> Проектирование структуры сайта, проектирование архитектуры базы данных, установка и первоначальная настройка фреймворка, установка необходимых пакетов, программирование с использованием API фреймворка, создание шаблонов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'ds.png'},

                                    {link: 'http://rasp.ivgpu.com',
                                    name: 'Сайт расписания занятий и экзаменов ИВГПУ',
                                    desc: 'Сайт расписания занятий и экзаменов ИВГПУ, где пользователь с помощью формы на главной странице может выбрать определенную учебную группу/преподавателя и найти соответствующее расписание занятий/экзаменов как на две недели, так и на определенный день. Полученное расписание можно скачать в формате <i>.xlsx.</i> <br> Пользователи, наделенные специальными правами, (администраторы) могут добавлять, изменять и удалять занятия для определенных учебных групп, а также некоторую другую информацию',
                                    platform: 'Laravel',
                                    role: 'Полная разработка сайта. <br> Проектирование структуры сайта, проектирование архитектуры базы данных, установка и первоначальная настройка фреймворка, установка необходимых пакетов, программирование с использованием API фреймворка, создание шаблонов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'rasp.png'},

                                    {link: 'http://smartex2.ivgpu.com',
                                    name: 'Сайт научной конференции "SMARTEX"',
                                    desc: 'Сайт научной конференции "SMARTEX"',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'smartex.png'},

                                    {link: 'http://poisk.ivgpu.com',
                                    name: 'Сайт научной конференции "ПОИСК"',
                                    desc: 'Сайт научной конференции "ПОИСК"',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'poisk.png'},

                                    {link: 'http://isv.ivgpu.com',
                                    name: 'Сайт научной конференции "Информационная среда вуза"',
                                    desc: 'Сайт научной конференции "Информационная среда вуза"',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'isv.png'},

                                    {link: 'http://genesis.ivgpu.com',
                                    name: 'Сайт научной конференции "Генезис"',
                                    desc: 'Сайт научной конференции "Генезис"',
                                    platform: 'WordPress',
                                    role: 'Полная разработка сайтов. <br> Установка CMS, установка и настройка темы, установка и настройка плагинов, наполнение первоначальным контентом, создание поддомена, размещение на хостинге, дальнейшая поддержка',
                                    img: 'genesis.png'},

                                    {link: 'https://romanjke.github.io/portfolio/axit/index.html',
                                    name: 'Верстка лендингов по psd шаблонам',
                                    desc: 'Верстка лендингов по psd шаблонам',
                                    platform: 'HTML',
                                    role: 'Адаптивная верстка лендингов по бесплатным psd макетам. <br> В ходе этого была изучена работа со следующими технологиями: БЭМ, SCSS, Pug, SVG, Animate.css, Gulp, Webpack, консольный режим работы с Git',
                                    img: 'axit.png'},

                                    {link: 'https://romanjke.github.io/portfolio/fudi/index.html',
                                    name: 'Верстка лендингов по psd шаблонам',
                                    desc: 'Верстка лендингов по psd шаблонам',
                                    platform: 'HTML',
                                    role: 'Адаптивная верстка лендингов по бесплатным psd макетам. <br> В ходе этого была изучена работа со следующими технологиями: БЭМ, SCSS, Pug, SVG, Animate.css, Gulp, Webpack, консольный режим работы с Git',
                                    img: 'fudi.png'},

                                    {link: 'https://romanjke.github.io/portfolio/uberweb/index.html',
                                    name: 'Тестовое задание от веб-студии Uberweb',
                                    desc: 'Тестовое задание от веб-студии Uberweb',
                                    platform: 'HTML',
                                    role: 'Адаптивная верстка лендинга по psd макету',
                                    img: 'uberweb.png'},


                    ];

                // PORTFOLIO MODALS
                each work, index in works
                    - var id = "portfolio_modal-" + (index + 1)

                    +portfolio-modal(work, id)
                // PORTFOLIO MODALS END

            block cert-modals

                // CERTIFICATES MODALS
                each cert_block, index_block in certs
                    each cert, index_cert in cert_block.certs
                        - var id = "cert_modal-" + index_block + (index_cert + 1)

                        +cert-modal(cert, id)
                // CERTIFICATES MODALS END

            block scripts
                // Bootstrap core JavaScript
                script(src="https://code.jquery.com/jquery-3.3.1.min.js")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
                script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

                // JavaScript plugins
                script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")

                // Custom styles
                // build:js js/main.js
                script(src="js/main.js")
                // endbuild