mixin certificates(certs)
    // Certificates
    section.section.certificates#certificates
        .container
            h2.title.title_level_2 Сертификаты

            each cert_block, index_block in certs
                .certificates__part
                    h3.title.title_level_3= cert_block.company_name

                    .row
                        each cert, index_cert in cert_block.certs
                            .col-sm-6.col-lg-3.wow.fadeInUp(data-wow-delay="0." + (index_cert + 1) + "s")
                                .certificates__item
                                    a(href="#" class="certificates__link" data-toggle="modal" data-target="#cert_modal-" + index_block + (index_cert + 1) target="_blank")
                                        img(src="img/" + cert.img class="certificates__image" alt=cert.name)

                                        .certificates__over
                                            i.fas.fa-search-plus.fa-3x

                                    p= cert.name
    // Certificates end
