/*.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}*/

.section {
    padding: 100px 0;
}

.title {
    position: relative;
    margin: 0 0 80px;
    font-family: $sec-font;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;

    &:after {
        content: '';
        @include left();
        background: $main-color;
        width: 80px;
        height: 2px;
        bottom: -10px;
    }

    &_center {
        text-align: center;

        &:after {
            @include center-x();
        }
    }
}