.skills{
    &__part {
        &:first-child {
            margin-bottom: 40px;
        }

        @media (min-width: 768px) {
            &:first-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        font-family: $sec-font;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}