mixin skills(skills)
    // Skills
    section.section.skills#skills
        .container
            h2.title.title_level_2 Навыки

            .row
                .col-md-6.skills__part
                    h3.title.title_level_3 Технологии

                    each tech in skills.technologies
                        .skills__item.progress(style="height: 35px;")
                            .progress-bar.wow.fadeInLeft(class="skills__bar skills__bar_" + tech.class role="progressbar" style="width:" + tech.percentage + "%" aria-valuenow=tech.percentage aria-valuemin="0" aria-valuemax="100")= tech.name + " " + tech.percentage + "%"

                .col-md-6.skills__part
                    h3.title.title_level_3 Платформы

                    each platform in skills.platforms
                        .skills__item.progress(style="height: 35px;")
                            .progress-bar.wow.fadeInLeft(class="skills__bar skills__bar_" + platform.class role="progressbar" style="width:" + platform.percentage + "%" aria-valuenow=platform.percentage aria-valuemin="0" aria-valuemax="100")= platform.name + " " + platform.percentage + "%"
    // Skills end