// Portfolio modal
.portfolio-modal {
    &__title {
        font-family: $sec-font;
    }

    &__image {
        display: block;
        max-width: 80%;
        height: auto;
        margin: 0 auto 30px;
    }

    &__button {
        background-color: #fff;
        border-color: #ccc;

        &:hover {
            background-color: #e6e6e6;
            border-color: #adadad;
        }
    }
}
// Portfolio modal end